[submodule "generator-expression/thirdparty/Qt-Advanced-Docking-System"]
	path = generator-expression/thirdparty/Qt-Advanced-Docking-System
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System
